@use '../../shared/styles/variables' as *;
@use '../../shared/styles/typography' as *;

.usersTable {
  width: 100%;
  border: 1px solid color($dark, 500);
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  margin: 24px 0 36px;

  th, td {
    padding: 12px 24px;
    text-align: left;
    border-bottom: 1px solid color($dark, 500);
    @include fontStyle("Inter", 14px, 400, color($light, 100), 1.7);
  }

  th {
    background: color($dark, 500);
    @include fontStyle("Inter", 14px, 600, color($light, 100), 1.7);
  }

  tbody tr {
    transition: background-color 0.2s ease-in-out;
  }

  tbody tr:hover {
    background: color($dark, 500);
  }
}