@use '@/shared/styles/variables.scss' as *;

.wrapper {
  position: relative;
  max-width: 100%;
  margin: 80px 0 25px;
}

.icon {
  position: absolute;
  top: 9px;
  left: 15px;
}

.input {
  font-family: Inter, sans-serif;
  width: 100%;
  padding-left: 40px;
  height: 36px;
  font-size: 16px;
  border: 1px solid color($dark,100);
  background-color: color($dark,700);
  color: color($light, 100);
}